@import helper._

@main("Обо мне") {

        <div class="notice">
            <h1><img alt="Saturn V carrying Apollo 11" style="border: 1px solid #ccc;float: right;margin-left: 15px;padding: 5px;" src="@routes.Assets.at("images/me.jpg")">Это блог студента АС-11</h1>

            <h1>Абдумуминова У.А.</h1>

            <p><strong>Учусь я так себе, мою фотку Вы видите справа.</strong></p>

            <h2><strong>Моё резюме:</strong></h2>

            <ol>
                <li><strong>Личная информация:</strong>

                    <ol>
                        <li>Возраст: 21 год (18.04.1993г)</li>
                        <li>Адрес проживания: г.Грязи, ул. 2-Чапаева, 13</li>
                        <li>Семейное положение: холост</li>
                    </ol>
                </li>
                <li><strong>Контактные данные:</strong>
                    <ol>
                        <li>Мобильный телефон: +7 (904) 298 4633</li>
                        <li>E-mail: umed48@@yandex.ru</li>
                    </ol>
                </li>
                <li><strong>Образование:</strong>
                    <ul>
                        <li>Cтудент 4 курса ЛТГУ кафедры Автоматизированных Систем управления.</li>
                    </ul>
                </li>
                <li><strong>Специализация:</strong>
                    <ul>
                        <li>Информатика и вычислительная техника.</li>
                    </ul>
                </li>
                <li><strong>Навыки и умения:</strong>
                    <ol>
                        <li>владение C#, C/C++</li>
                        <li>знаком с MS Sql Server (писать запросы), Oracle Database (запросы, триггеры, процедуры),&nbsp;Postgresql</li>
                        <li>Git</li>
                    </ol>
                </li>
                <li><strong>Знание иностранных языков: </strong>
                    <ul>
                        <li>Английский &ndash; чтение документации.</li>
                    </ul>
                </li>
                <li><strong>Дополнительная информация:</strong>
                    <ul>
                        <li><strong>​​​</strong>JavaScript</li>
                        <li>PHP</li>
                        <li>WPF</li>
                        <li>немного знаком с Java/Scala и&nbsp;Maven</li>
                    </ul>
                </li>
            </ol>
        </div>

}